/aclocal.m4
/cb_find_duplicates.pro
/config.status
/config.h
/config.log
/Makefile
/Makefile.*
/object_script.*
*.exe
*.log
*.o
*.*~
.qmake.stash
moc/*
resources/*
configure_tests/*/makefile
autom4te.cache/*
*-build-dir/*
